parameters:
    tmpDir: ./build/cache/phpstan
    treatPhpDocTypesAsCertain: false
    level: max
    paths:
        - ./src
        - ./tests
    bootstrapFiles:
      - vendor/squizlabs/php_codesniffer/autoload.php
      - vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
    excludePaths:
        - ./vendor
